.product-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #121212;
    padding: 2rem;
  
    .product-card {
      background-color: #1e1e1e;
      padding: 3rem;
      border-radius: 1rem;
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
      max-width: 40rem;
      width: 100%;
      text-align: center;
      color: #fff;
  
      .product-img {
        width: 100%;
        height: auto;
        margin-bottom: 1.5rem;
        border-radius: 0.5rem;
        object-fit: cover;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
      }
  
      .product-title {
        font-size: 2.4rem;
        font-weight: bold;
        margin-bottom: 1rem;
      }
  
      .product-gender,
      .product-description,
      .product-price {
        font-size: 1.6rem;
        margin-bottom: 1rem;
      }
  
      .product-actions {
        display: flex;
        justify-content: space-between;
        margin-top: 2rem;
        gap: 1rem;
  
        .product-button-back,
        .product-button-buy {
          flex: 1;
          padding: 1rem;
          font-size: 1.4rem;
          font-weight: bold;
          border: none;
          border-radius: 0.5rem;
          cursor: pointer;
          transition: background-color 0.3s ease;
  
          &.product-button-back {
            background-color: #292929;
            color: #ececec;
  
            &:hover {
              background-color: #f39c12;
              color: #fff;
            }
          }
  
          &.product-button-buy {
            background-color: #f39c12;
            color: #fff;
  
            &:hover {
              background-color: #d68910;
            }
          }
        }
      }
    }
  }
  